.container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1100px;
  margin: 5% auto;
}

.leftCol h1 {
  color: #1e1d1d;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}

.leftCol h1 img {
  width: 100px;
}

.leftCol p {
  color: #1e1d1d;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  margin: 2rem 0;
}

.rightCol img {
  width: 450px;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.buttonGroup button:first-child {
  background: #2245c2;
  color: #ffffff;
}

.buttonGroup button {
  border-radius: 5.6px;
  border: 1.4px solid #2245c2;
  background: #ffffff;
  color: #2245c2;
  width: 150px;
  height: 45px;
  text-align: center;
}

.buttonGroup button:last-child:hover {
  background: #2245c2;
  color: #ffffff;
}

.mobile-pricing {
  display: block;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    margin: 5% auto 10rem;
  }

  .rightCol img {
    width: 350px;
  }

  .leftCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .leftCol h1 {
    display: none;
  }

  .leftCol p {
    text-align: center;
    font-weight: 700;
  }

  .mobile-pricing {
    display: none;
  }
}
